<app-nabvar></app-nabvar>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <p>{{user.userName}}</p>
                <p>{{user.rol}}</p>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>Username: {{user.userName}}</h4>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Contraseña</label>
                        <input type="password" class="form-control" value="" placeholder="user.password"
                            [(ngModel)]="user.password">
                    </div>
                </div>
                <div class="row mt-3">
                    <h4>Email: {{user.email}}</h4>
                </div>
                <div class="mt-4 text-center">
                    <button class="btn btn-primary" type="button">Guardar Perfil</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <button class="btn btn-primary" style="margin: auto;" (click)="loadPedidos()">Ver pedidos</button>
                </div>
                <br>
                <div class="col-md" style="overflow:scroll;height:600px;padding: 10px; border: solid;" 
                    *ngIf="!(json.length == 0)">
                    <div class="cardPedido"  *ngFor="let order of json; let index" style="background-color: #FEBA0B; margin-top: 10px;">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Fecha: {{order.date}} <br> Hora: {{order.hora}} </strong></h5>
                            <br>
                            <ul type="A" class="listaPlatos">
                                <li *ngFor="let p of order.listDish"><strong>{{p.name}} - {{p.price}}€ x{{p.amount}}
                                    = {{p.price*p.amount}}€ </strong></li>
                            </ul>
                            <h5><strong>Total: {{order.total}} €</strong></h5>
                            <a href="#" class="btn btn-primary">Repetir pedido</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footbar></app-footbar>