<footer>
    <section class="imgFooter" style="margin-top: 10px;">
        <img style="width: 200px;"  src="https://i.ibb.co/PCJhs0B/image.png" alt="image" border="0">
    </section>
    <section class="imgFooter ">
        <img class="juntos" style="width: 70px;" src="https://i.ibb.co/YbqDxCy/image-removebg-preview.png" alt="image-removebg-preview" border="0">
        <img style="width: 120px;" src="https://i.ibb.co/MsN7F0d/image.png" alt="image" border="0">
</section>
<section class="developers" style="margin-top: 15px;">
            <p><strong>Developers <br>
               <a href="https://www.linkedin.com/in/alvaro-bi/">Alvaro Bernabey</a> <br>
               <a href="https://www.linkedin.com/in/carlossanchezbrunet/">  Carlos Sánchez</a> <br>
               <a href="https://www.linkedin.com/in/oscar-vilamitjana/">  Oscar Vilamitjana </a> <br>
            </strong>
            </p>
        </section>
</footer>
