<footer class="container ">
    <div class="row"style="border-top: solid;" >
        <img  class="col-lg-2" style="height: 50px;" src="https://i.ibb.co/PCJhs0B/image.png" alt="image" border="0">
        <section class="col-lg-1"></section>
        <img class="col-lg-1" style="height: 50px;"  src="https://i.ibb.co/YbqDxCy/image-removebg-preview.png" alt="image-removebg-preview" border="0">
        <section class="col-lg-1"></section>
        <img class="col-lg-2" style="height: 50px;"  src="https://i.ibb.co/MsN7F0d/image.png" alt="image" border="0">
        <section class="col-lg-1"></section>
        <section class="col-lg-4">
            <p>Developers</p>
                <p>Alvaro Bernabey</p>
                <p>Carlos</p>
                <p>Oscar</p>
        </section>
    </div>
</footer>