<footer >
    <section class="imgFooter">
        <img style="width: 200px;"  src="https://i.ibb.co/PCJhs0B/image.png" alt="image" border="0">
    </section>
    <section class="imgFooter">
        <img style="width: 70px;" src="https://i.ibb.co/YbqDxCy/image-removebg-preview.png" alt="image-removebg-preview" border="0">
    <img style="width: 120px;" src="https://i.ibb.co/MsN7F0d/image.png" alt="image" border="0">
</section>
<section class="developers">
            <p><strong>Developers <br>
               <a href="">Alvaro Bernabey</a> 
               <a href="">  Carlos Apellido</a> 
               <a href="">  Oscar Apellido </a>
            </strong>
            </p>
        </section>
</footer>