
<div class="tarjeta">

    <p class="plato">Nombre del Plato</p>

    <div class="cuerpo">
        <section class="images">
            <img src="./images/sin-gluten.png" width="45px" height="45px">
            <br>
            <img src="./images/vegano.png" width="45px" height="45px">
            <br>
            <img src="./images/leche.png" width="45px" height="45px">
        </section>
        <section class="comida">
            <img src="./images/comida.png" width="245px" height="160px">
        </section>
    </div>

    <div class="pie">
            <p class="precio"><strong>Precio:</strong></p>
            <button class="btnComprar" type="submit"><strong>AÑADIR</strong></button>
    </div>

</div>
