<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 ">
      <img src="assets/index.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" alt="foto1">
      <h2 class="fw-normal">Alvaro Bernabey</h2>
      <p>Descripción</p>
      <p>
        <a class="btn btn-secondary" href="https://www.linkedin.com/in/alvaro-bi/">LinkedIn</a>
      </p>
    </div>

    <div class="col-lg-4">
      <img src="assets/index.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" alt="foto1">
      <h2 class="fw-normal">Carlos Sánchez</h2>
      <p>Descripción</p>
      <p>
        <a class="btn btn-secondary" href="https://www.linkedin.com/in/carlossanchezbrunet/">LinkedIn</a>
      </p>
    </div>

    <div class="col-lg-4 ">
      <img src="assets/index.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" alt="foto1">
      <h2 class="fw-normal">Òscar Vilamitjana</h2>
      <p>Descripción</p>
      <p>
        <a class="btn btn-secondary" href="https://www.linkedin.com/in/oscar-vilamitjana/">LinkedIn</a>
      </p>
    </div>
  </div>
</div>



<div class="container marketing">
  <div class="row d-flex justify-content-center">
      <img src="assets/index.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" alt="foto1">
      <h2 class="fw-normal">Alvaro Bernabey</h2>
      <p>Descripción</p>
      <p>
        <a class="btn btn-secondary" href="https://www.linkedin.com/in/alvaro-bi/">LinkedIn</a>
      </p>

      <div class="row d-flex justify-content-center">
        <img src="assets/index.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" alt="foto1">
      <h2 class="fw-normal">Carlos Sánchez</h2>
      <p>Descripción</p>
      <p>
        <a class="btn btn-secondary" href="https://www.linkedin.com/in/carlossanchezbrunet/">LinkedIn</a>
      </p>
    </div>

    <div class="row d-flex justify-content-center">
      <img src="assets/index.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" alt="foto1">
      <h2 class="fw-normal">Òscar Vilamitjana</h2>
      <p>Descripción</p>
      <p>
        <a class="btn btn-secondary" href="https://www.linkedin.com/in/oscar-vilamitjana/">LinkedIn</a>
      </p>
    </div>
  </div>
</div>
