<app-nabvar></app-nabvar>
<div class="container" style="text-align: center; margin-top: 100px;">
    <h1>Seleccione la Fecha para ver las Ordenes</h1>
    <input type="date" (change)="SendDataonChange($event)" style="margin: 5px 0px 0px 10px;" />
    <button class="btn btn-primary" style="margin-left: 20px;" (click)="search()">Buscar</button>
    <br>
    <div class="container">
        <div class="row" style="justify-content: space-around; margin: 100px auto;">
            <div class="cardPedido col-4"  *ngFor="let order of json; let index" style="margin: 5px 0px;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Fecha: {{order.date}} <br> Hora: {{order.hora}} </strong></h5>
                    <br>
                    <button class="btn btn-primary" (click)="showDish(order)">Ver Platos</button>
                    <h5><strong>Total: {{order.total}} €</strong></h5>
                    <h5><strong>Cliente: {{order.user.name}}</strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>
