
    <div class="container_all" id="container__all">
        <div class="cover">
            <!--INICIO WAVE-->
                <div class="bg_color"></div>
                <div class="wave w1"></div>
                <div class="wave w2"></div>
            <!--FINAL WAVE-->
            <div class="container__cover">
                <div class="container__info">
                    <h1>MENJADOR</h1>
                    <h2 style="text-align:center;">Tu Comida<br>a<br>Tu Tiempo</h2>
                    
                </div>
                <div class="container__vector">
                    <img class="logo" src="https://i.ibb.co/WBgRyt9/image.png" alt="image" border="0">
                </div>
            </div>
        </div>
