<app-nabvar></app-nabvar>
<p style="margin-top: 100px;">Hola</p>
<p>{{jsonCarrito.length}}</p>
<div class="container solid">   

</div>
<!--
    {{dish.price}}€  X {{dish.amount}}  = {{dish.price*dish.amount}}
    {{(dish.price*dish.amount)}}
        <div style="display: flex; border: solid; width: 100%;" *ngFor="let dish of json">
        <img style="width: 300px;" src="{{dish.img}}" alt="">
        <p>{{dish.price}}€  X  {{dish.amount}}  = </p>
        <button class="btn-masmenos" >+</button>
        <button class="btn-masmenos" >-</button>
    </div>
    (click)="sum(item.id)"
    (click)="rest(item.id)"
-->