<app-nabvar></app-nabvar>
<div class="container containerGeneral" style="margin-top: 100px;">
  <div class="row contacto">
    <div class="col">
      <h1>Register</h1>
    </div>
  </div>


  <form class="p-5 mb-5" #form="ngForm" (ngSubmit)="handleSubmit()">

    <div class="row contacto">

      <div class="col-1 input">
        <i class="bi bi-person-fill" style="font-size:24px;"></i>
      </div>
      <div class="col-11">
        <input type="text" id="username" class="form-control" placeholder="Username" [(ngModel)]="username"
          name="username" required />
      </div>

      <div class="col-1 input">
        <i class="bi bi-mailbox" style="font-size:24px;"></i>
      </div>
      <div class="col-11">
        <input type="email" id="email" class="form-control" placeholder="Direccion de correo" [(ngModel)]="email1"
          name="email1" required />
        <p *ngIf=""></p>
      </div>

      <div class="col-1 input">
        <i class="bi bi-mailbox" style="font-size:24px;"></i>
      </div>
      <div class="col-11">
        <input type="email" id="email2" class="form-control" placeholder="Repite direccion de correo"
          [(ngModel)]="email2" name="email2" required />
        <p *ngIf="(email1 !== email2) && (email2.length !== 0)" class="error-msn">El email no coincide</p>

      </div>

      <div class="col-1 input">
        <i class="bi bi-lock" style="font-size:24px;"></i>
      </div>
      <div class="col-11">
        <input type="password" id="password" class="form-control" minlength="6" placeholder="Contraseña" [(ngModel)]="pass1"
          name="pass1" required />
      </div>

      <div class="col-1 input">
        <i class="bi bi-lock" style="font-size:24px;"></i>
      </div>
      <div class="col-11">
        <input type="password" id="password2" class="form-control" minlength="6" placeholder="Repite contraseña" [(ngModel)]="pass2"
          name="pass2" required />
          <p *ngIf="(pass1 !== pass2) && (pass2.length !== 0)" class="error-msn">La contraseña no coincide</p>
          <p *ngIf="(pass2.length < 6 && pass2.length > 0)" class="error-msn">Longitud minima 6 caracteres</p>

      </div>
      <!--
      <div class="col-11 d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-block mb-4" [disabled]="btnDeshabilitado"
          (click)="register()">Register</button>
      </div> -->

      <div class="col-11 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary btn-block mb-4" value="Sing in submit"
          [disabled]="!form.valid || btnDeshabilitado">Registrate!</button>
      </div>

    </div>

  </form>

</div>
