<div class="container containerGeneral">

  <form class="p-5">

    <h1>Register </h1>


    <!-- Username -->
    <div class="form-outline mb-4">
      <input type="username" id="formUsername" class="form-control" />
      <label class="form-label" for="formUsername">Username</label>
    </div>

    <!-- Email -->
    <div class="form-outline mb-4">
      <input type="email" id="formEmail" class="form-control" />
      <label class="form-label" for="formEmail">Email address</label>
    </div>

    <!-- Email2 -->
    <div class="form-outline mb-4">
      <input type="email" id="formEmail2" class="form-control" />
      <label class="form-label" for="formEmail2">Email address</label>
    </div>

    <!-- Password -->
    <div class="form-outline mb-4">
      <input type="password" id="formPassword" class="form-control" />
      <label class="form-label" for="formPassword">Password</label>
    </div>

    <!-- Password2 -->
    <div class="form-outline mb-4">
      <input type="password" id="formPassword2" class="form-control" />
      <label class="form-label" for="formPassword2">Repetir Password</label>
    </div>



    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Register</button>

  </form>

</div>
